@* import model *@
@model IEnumerable<Villa_WebMVC.Models.Dto.VillaDTO>
<br />

@* Web Title *@
@{
    ViewBag.Title = "Villa List-";
}

<div class="container- p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa List</h1>
        </div>
        <div class="col text-end pt-1">
            <a class="btn btn-outline-primary" asp-controller="Villa" asp-action="CreateVilla"><i class="bi bi-table"></i> Create New Villa</a>
        </div>
    </div>

    <table id="villaTable" class="table table-striped" style="width:80%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Occupany</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Occupancy</td>
                    <td>@((item.Rate).ToString("c"))</td>
                    <td class="text-center">
                        <a asp-controller="Villa" asp-action="UpdateVilla" asp-route-villaId="@item.Id" class="btn btn-success" ><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" asp-route-villaId="@item.Id" class="btn btn-danger"><i class="bi bi-journal-x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Occupany</th>
                <th>Price</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

@* css *@
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css" rel="stylesheet" />

@section scripts{
    <!-- Reference the external JavaScript file -->
    <script src="~/js/DataTableFile.js"></script>
    <!-- Call the initializeDataTable function with the parameter -->
    <script>
        initializeDataTable('#villaTable');
    </script>

}

